.header {
  background-image: url("https://assets.izap.com.br/izap.com.br/uploads/blog/imagens%20texto/banner-content-marketing.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  height: 590px;
}
